.form-tarea {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
    width: 600px;
    padding: 9px 2px 15px;
}

.titulo-form {
    padding: 0;
}

.descripcion-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons-container {
    width: 270px;
    display: flex;
    gap: 14px;
}

.buttons-container button {
    flex-grow: 1;
}
