:root {
    --primary-color: #f42534;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #d70000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
    padding: 0;
}

.color-red {
    color: var(--red-color);
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(4px) brightness(60%);;
    display: flex;
    align-items: center;
    justify-content: center;
}
